@font-face {
	font-family: "Trebuchet";
	src: url("Trebuchet MS.ttf");
}

* {
	font-family: "Helvetica";
}
body {
	margin: 0;
	/*background: rgb(248, 253, 248);*/
	box-sizing: border-box;
}

body #wc-container {
	position: relative;
}

body #wc-container #winner-count {
	font-family: 'Trebuchet';	
	position: absolute;
	width: 400px;
	height: 750px;
	bottom: 100px;
	left: 780px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body #wc-container #winner-count .winner-item{
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: (100% - 10px);
	height: 60px;
	margin: 5px;
}

body #wc-container #winner-count .winner-item .count-group {
	font-size: 30px;
	font-weight: bold;
	background-color: white;
	height: 60px;
	width: 60px;
	border-radius: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	box-shadow: 0px 0px 20px 2px rgba(180,180,180,1);
}

body #wc-container #participation {
	font-family: 'Trebuchet';	
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	bottom: 100px;
	right: 150px;
}

table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
td.col2 {
	text-align: right;
	font-weight: bold;
}
svg {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}
.title {
	font-family: "Trebuchet";
	font-size: 80px;
	margin-top: 50px;
	color: #524f34;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2400px;
	height: 120px;
	background: #3A4A40;
	color: white;
	font-size: 60px;
}
.container {
	display: flex;
	margin: 0;
	width: 2400px;
	height: 1600px;
	background: #F6F6F6;
	/*background: linear-gradient(135deg, #5F845F, #CCC692, #FCF7CB, #5F845F);
	background: #F4E5C6;*//
}
.panel {
	display: flex;
	flex-direction: column;
	background: #F4E5C6;
	width: 596px;
	height: 1600px;
	align-items: center;
	margin-left: 100px;
}
