@font-face {
	font-family: "Trebuchet";
	src: url("/styles/Trebuchet MS.ttf");
}

* {
	font-family: "Trebuchet";
}
body {
	margin: 0;
	/*background: rgb(248, 253, 248);*/
	box-sizing: border-box;
}

table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
td.col2 {
	text-align: right;
	font-weight: bold;
}
img.pic-cand {
	width: 70px;
	height: 70px;
}
.container {
	padding-top: 5px;
	padding-bottom: 20px;
	position: absolute;
	margin: 0;
	width: 650px;
	height: 1035px;
	background: #F6F6F6;
	/*background: linear-gradient(135deg, #5F845F, #CCC692, #FCF7CB, #5F845F);
	background: #F4E5C6;*//
}
.page-header {
	width: 800px;
	height: 120px;
	background: #3A4A40;
}

.header-title {
	position: absolute;
	font-size: 30px;
	color: white;
	left: 20px;
}

.header-title.t1 {
	top: 10%;
}
.header-title.t2 {
	bottom: 10%;
}
.header-logo {
	top: 55px;
	right: 20px;
}
.winner-card {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 30%;
	border-radius: 8px;
	margin: 2.5% 2.5%;
	box-shadow: 3px 3px 15px 0 rgba(120,120,120,0.6), 1px 1px 2px 0 rgba(120,120,120,0.5);
}
.estado {
	color: #3A4A40;
	font-size: 1.5em;
	font-weight: bold;
	margin: 4px 2px 2px 2px;
}

/* IMAGEN Y LOGO CANDIDATO */
.logo-container {
	/*border: 1px solid black;*/
	position: relative;
	width: 90%;
	height: 42.5%;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
}
.pic-cand {
	border: 1.5px #547152 solid;
	box-shadow: 3px 3px 6px 0 rgba(120,120,120,0.6), 1px 1px 2px 0 rgba(120,120,120,0.5);
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 33.5%;
}
.logo {
	z-index: 0;
	position: absolute;
	bottom: 0px;
	left: 5%;
	width: 90%

}
.cand-name {
	margin: 10px 0px 5px 0px;
	font-size: 1.25em;
	font-weight: bold;
}

/* DATA BOX */
.data-container {
	font-size: 1em;
	width: 90%;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	background-color: #F4E5C6;
}


/* ANIMATIONS */
.hide-info {
	transition: opacity 2s;
	opacity: 0
}

.show-info {
	transition: opacity 2s;
	opacity: 1
}



