@font-face {
	font-family: "Trebuchet";
	src: url("Trebuchet MS.ttf");
}

* {
	font-family: "Trebuchet";
}
body {
	margin: 0;
	/*background: rgb(248, 253, 248);*/
	box-sizing: border-box;
}

body #wc-container {
	position: relative;
	width: 1157px;
}

body #wc-container #winner-count {
	font-family: 'Trebuchet';	
	position: absolute;
	width: 250px;
	height: 450px;
	bottom: 10px;
	left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body #wc-container #winner-count .winner-item{
	font-size: 1.3em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: (100% - 10px);
	height: 30px;
	margin: 4px;
}

body #wc-container #winner-count .winner-item .count-group {
	font-size: 1em;
	font-weight: bold;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	box-shadow: 0px 0px 20px 2px rgba(180,180,180,1);
}

body #wc-container #participation {
	font-family: Trebuchet;	
	font-size: 1.3em;
	font-weight: bold;
	position: absolute;
	bottom: 5%;
	right: 5%;
}

table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
td.col2 {
	text-align: right;
	font-weight: bold;
}
svg {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}
.title {
	font-family: "Trebuchet";
	font-size: 40px;
	margin-top: 25px;
	color: #524f34;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2400px;
	height: 120px;
	background: #3A4A40;
	color: white;
	font-size: 60px;
}
.container {
	display: flex;
	margin: 0;
	width: 1157px;
	height: 1035px;
	background: #F6F6F6;
	/*background: linear-gradient(135deg, #5F845F, #CCC692, #FCF7CB, #5F845F);
	background: #F4E5C6;*//
}
.panel {
	display: flex;
	flex-direction: column;
	background: #F4E5C6;
	width: 25%;
	height: 100%;
	align-items: center;
}
